<style>
.country {
  fill: #ccc;
  stroke: #fff;
}

.states {
  fill: #ccc;
  stroke: #fff;
}
.symbol {
  fill: steelblue;
  fill-opacity: .8;
  stroke: #fff;
}
.lines {
  fill: none;
  stroke: #333;
  stroke-opacity: 1;
  stroke-width: 1.5px;
}
.line {
  fill: none;
  stroke: #333;
  stroke-opacity: 1;
  stroke-width: 1.5px;
}


</style>


	 <!--Layouts Have a Number of Options Try to Put All Universal Options Here  -->
	
	<!--Title Information  -->
	{% if title %}		 	 
		 <h2> {{ title }} </h2> 
	{% else %}
		<h2> quickD3map</h2> 
		<h4> default behavior is pan and zoom</h4> 
	{% endif %}
	
	<!--Columns Information  -->
	{% if columns%}
		 <p>Scale by colum values: 
		 <select id="select" >
			 {% for col in columns %}
		        <option value="{{col}}"> {{col}} </option>
		     {% endfor %}
		 </select>
		 if the circles are too small or big try changing the scale_exp value.
		 </p>
	{% endif %}

	<!-- Map Body  -->
	{% block body%}
		 <div id="map"></div>
	{% endblock %}

	<footer> built with D3JS, pandas and quickD3maps </footer>

<script type="text/javascript">
	 //RequireJS loadin here
	if(typeof(window.d3) === "undefined"){
	  require.config({paths: {d3:    "https://d3js.org/d3.v3.min.js",
	                         topo:   "https://d3js.org/topojson.v1.min.js",
	                         d3proj: "https://d3js.org/d3.geo.projection.v0.min.js"}});
                         
	  require(["d3", "topo", "d3proj"], function(d3, topo, d3proj){
	    window.d3 = d3;
		var width = {{ width }};
		var height ={{ height }};
		var samples = {{geojson|string|safe}};  //samples are points
		var geojson = {{map_data|string|safe}}; //geojson is the map
		var radius = d3.scale.sqrt()           
		    .domain([0, 1e{{scale_exp}}])
		    .range([0, 10]);   //radius is the scaling funtion for point size

		{%- if lines_geojson -%}
		    var line_data = {{lines_geojson|string|safe}}; //line_data is used for lines
		{%- endif -%}



		{% block script %}
		{% endblock %}
		
	    //scaling function for points
	    function updateSize(value) {
	        var symbol = svg.selectAll(".symbol")
	              .data(samples.features);
	        symbol.attr("d", path.pointRadius(function(d) { return radius(d.properties[value]); }))
	      };
	    d3.selectAll("select").on("change", function () {updateSize(this.value) });
	    });
	 }
	 else{ !function (){ console.log("ERROR! D3JS no loading") }; 
	 }
</script>

