        aside  {
          float: right;
          margin: 15px;
        }
        
        .country {
          fill: #ccc;
          stroke: #fff;
        }

        .symbol {
          fill: steelblue;
          fill-opacity: .8;
          stroke: #fff;
        }

        .graticule {
          fill: none;
          stroke: #000;
          stroke-opacity: .3;
          stroke-width: .5px;
        }

        .graticule.outline {
          stroke: #333;
          stroke-opacity: 1;
          stroke-width: 1.5px;
        }
		
        .lines {
		  fill: none;
          stroke: #333;
          stroke-opacity: 1;
          stroke-width: 1.5px;
        }
        .line {
		  fill: none;
          stroke: #333;
          stroke-opacity: 1;
          stroke-width: 1.5px;
        }
        
		#controls {
		  /* Appearance */
		  background-color: white;
		  padding: 0 20px 20px 20px;
		  cursor: move;
		  /* Fade out while not hovering */
		  opacity: 0.6;
		  zoom: 0.9;
		  transition: opacity 500ms 1s;
		  top:60px;
		  left:auto;
		  right:20px;
		  bottom:auto;
		  width:330px;
		  height:auto;
		  position:fixed;
		  cursor:move;
		  border:2px solid;
		  border-radius:10px;
		}
		#controls:hover {
		  /* Fade in while hovering */
		  opacity: 0.95;
		  transition-delay: 0;
		}