{% extends "layout.html" %}


{% block body %}
<body>
	<div class="outer">
		 <div id="map">
		</div>
		 
		 {% if columns%}
		 <div class="draggable" id="controls"> 
			 <h2> {{ title }} </h2> 
			 <label for="columns">Columns:</label>
			 <select id="columns" class="demo-default" placeholder="Select a column value...">
				 {% for col in columns %}
		             <option value="{{col}}"> {{col}} </option>
		         {% endfor %}
		     </select>
		 </div>
		 {% endif %}		 

	</div>
</body>
<script>$(".draggable").draggable(); </script> 

<script>
$('#columns').selectize();
</script>
	
{% endblock %}


{% block script %}
<script>
	var width = Math.max({{ width }}, window.innerWidth);
	var height = Math.max({{ height }}, window.innerHeight);
    var samples = {{geojson|string|safe}};
    var geojson = {{map_data|string|safe}};
    var radius = d3.scale.sqrt()
        .domain([0, 1e{{scale_exp}}])
        .range([0, 10]);

    //{{ projection }}
    //{{ svg }}

    var projection = d3.geo.albers()
		{% if center %}
			 .center( {{center}} )
		{% endif %}
     // .rotate([98,0])
      //.parallels([29.5, 45.5])
      //.center([8, 40])
      //.translate([width/2,height/2])
      .scale(800);

    var path = d3.geo.path()
      .projection(projection);

    var svg = d3.select("#map")
      .append("svg")
      .append("g")
      .attr("width", width)
      .attr("height", height);

    svg.append("path")
          .attr("class", "states")
          .datum(topojson.feature(geojson, geojson.objects.states))
          .attr("d", path);

     svg.selectAll(".symbol")
            .data(samples.features)
            .enter().append("path")
              .attr("class", "symbol")
     .attr("d", path.pointRadius(function(d) { return radius(100) }));

	d3.selectAll("select").on("change", function () {updateSize(this.value) });
	 
    //this is where the update size code goes
    function updateSize(value) {
        // join new data with old elements
        var symbol = svg.selectAll(".symbol")
              .data(samples.features);
        // UPDATE
        symbol.attr("d", path.pointRadius(function(d) { return radius(d.properties[value]); }))

      }
</script>
{% endblock %}
