<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">

<head>
   <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
   <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
   <script src="http://d3js.org/d3.geo.projection.v0.min.js"></script>
   <script src="http://d3js.org/topojson.v1.min.js"></script>


    <style>

        svg {
          margin: 30px;
          padding: 5px;
          border-style:solid;
          border-width:1px;  
        }
        
        
        .country {
          fill: #ccc;
          stroke: #fff;
        }

        .symbol {
          fill: steelblue;
          fill-opacity: .8;
          stroke: #fff;
        }

        .graticule {
          fill: none;
          stroke: #000;
          stroke-opacity: .3;
          stroke-width: .5px;
        }

        .graticule.outline {
          stroke: #333;
          stroke-opacity: 1;
          stroke-width: 1.5px;
        }
		
        .lines {
		  fill: none;
          stroke: #333;
          stroke-opacity: 1;
          stroke-width: 1.5px;
        }
    </style>

</head>

<body>
	<div id="map">	</div>

    <script>
    
    // Basic Map Settings and Data
    /////////////////////////////////////////////
         var width = {{ width }};
         var height = {{ height }};
        
        // var width = Math.max( {{ width }}, window.innerWidth),
//             height = Math.max( {{ height }}, window.innerHeight);
        
        var scale = {{scale}};
        
        var samples = {{geojson|string|safe}};
		
        var geojson = {{map_data|string|safe}};


        var countries = topojson.feature(geojson, geojson.objects.countries).features;

        {%- if lines_geojson -%}
            var lines = {{lines_geojson|string|safe}};
        {%- endif -%}


        var radius = d3.scale.sqrt()
            .domain([0, 1e6])
            .range([0, 10]);

       // Projection-Related Settings
       /////////////////////////////////////////////
        // var projection = d3.geo.kavrayskiy7(),
        //     graticule = d3.geo.graticule();
        // 
        // var path = d3.geo.path()
        //   .projection(projection);
        var projection = d3.geo.mercator()
            .scale((1 << 10) / 2 / Math.PI)
            .translate([width / 2, height / 2]);

      	  {%- if center is not none -%}
      	  	 var center = projection( {{ center }});
      	  {% else %}
      	       var center = projection([ 0, 20]);
      	  {%- endif -%}

        var path = d3.geo.path()
            .projection(projection);

        var zoom = d3.behavior.zoom()
            .scale(projection.scale() * 2 * Math.PI)
            .scaleExtent([1 << 10, 1 << 16])
            .translate([width - center[0], height - center[1]])
            .on("zoom", zoomed);


        var svg = d3.select("#map")
                      .append("svg")
                      .attr("width", width)
                      .attr("height", height);

       // Selection Shorthands
       var points    = svg.append("path").attr("class","symbol");
       var map       = svg.append("path").attr("class", "country");
       
       //var vector = svg.append("path");
       //var states = svg.append("path").attr("class", "states");
       //var world = svg.append("path").attr("class", "country");

       
       
       //var map = svg.selecAll(".country")
       
       //  svg.append("path")
       //      .datum(graticule)
       //      .attr("class", "graticule")
       //      .attr("d", path);
       // 
       //  svg.append("path")
       //      .datum(graticule.outline)
       //      .attr("class", "graticule outline")
       //      .attr("d", path);
       // 
       //   svg.selectAll(".country")
       //      .data(countries)
       //      .enter().insert("path", ".graticule")
       //      .attr("class", "lines")
       //      .attr("d", path);
       // 
       // svg.selectAll(".country")
       //    .data(countries)
       //  .enter().insert("path", ".graticule")
       //    .attr("class", "country")
       //    .attr("d", path);

          // {%- if lines_geojson -%}
          //             svg.append("g")
          //                 .attr("class", "lines")
          //               .selectAll("path")
          //                 .data(lines.features)
          //               .enter().append("path")
          //                 .attr("d", function(d) { return path({ type: d.geometry.type, coordinates: d.geometry.coordinates}); });
          // {%- endif -%}

      // svg.selectAll(".symbol")
    //          .data(samples.features)
    //          .enter().append("path")
    //          .attr("class", "symbol")
    //          .attr("d", path.pointRadius(function(d) { return radius( {{scale}}) }));
	   
         function zoomed() {
		    projection
		       .scale(zoom.scale() / 2 / Math.PI)
               .translate(zoom.translate());
          map
            .attr("d", path);
          points
           .attr("d", path.pointRadius(function(d) { return radius( {{scale}}) }));
    	 }
		
         
         // svg.selectAll(".country")
         //    .data(countries)
         //  .enter().insert("path", ".graticule")
         //    .attr("class", "country")
         //    .attr("d", path);
         
         
		 svg.call(zoom);
         // map.datum(geojson).attr("d", path);
         map.datum( topojson.feature(geojson, geojson.objects.countries)).attr("d", path);
         points.datum(samples).attr("d", path);
        
         zoomed();
		 
         
        //this is where the update size code goes
        function updateSize(value) {
            // join new data with old elements
            var symbol = svg.selectAll(".symbol")
                  .data(samples.features);
            // UPDATE
            symbol.attr("d", path.pointRadius(function(d) { return radius(d.properties[value]*scale); }))

          }
    </script>

</body>
</html>
