<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">

<head>
   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
   <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
   <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
   <script src="http://d3js.org/d3.geo.projection.v0.min.js"></script>
   <script src="http://d3js.org/topojson.v1.min.js"></script>


    <style>
        .country {
          fill: #ccc;
          stroke: #fff;
        }

        .symbol {
          fill: steelblue;
          fill-opacity: .8;
          stroke: #fff;
        }

        .graticule {
          fill: none;
          stroke: #000;
          stroke-opacity: .3;
          stroke-width: .5px;
        }

        .graticule.outline {
          stroke: #333;
          stroke-opacity: 1;
          stroke-width: 1.5px;
        }
    </style>

</head>

<body>
	<div id="map">	</div>

    <script>
        var width = {{ width }};
        var height = {{ height }};
        var scale = {{scale}};
        var samples = {{geojson|string|safe}};
        var geojson = {{map_data|string|safe}};

        var radius = d3.scale.sqrt()
            .domain([0, 1e6])
            .range([0, 10]);

        //{{ projection }}
        //{{ svg }}

        var countries = topojson.feature(geojson, geojson.objects.countries).features;

        var projection = d3.geo.equirectangular()
            .scale(153)
            .translate([width / 2, height / 2])
            .precision(.1);

        var path = d3.geo.path()
          .projection(projection);

        var svg = d3.select("#map")
          .append("svg")
          .append("g")
          .attr("width", width)
          .attr("height", height);

        svg.append("path")
            .datum(graticule)
            .attr("class", "graticule")
            .attr("d", path);


         svg.insert("path", ".graticule")
              .datum(topojson.feature(countries, countries.objects.land))
              .attr("class", "land")
              .attr("d", path);

         svg.selectAll(".country")
            .data(countries)
            .enter().insert("path", ".graticule")
            .attr("class", "country")
            .attr("d", path);

         svg.selectAll(".symbol")
                .data(samples.features)
                .enter().append("path")
                .attr("class", "symbol")
                .attr("d", path.pointRadius(function(d) { return radius( {{scale}}) }));



  svg.insert("path", ".graticule")
      .datum(topojson.mesh(world, world.objects.countries, function(a, b) { return a !== b; }))
      .attr("class", "boundary")
      .attr("d", path);
});


       svg.selectAll(".country")
          .data(countries)
        .enter().insert("path", ".graticule")
          .attr("class", "country")
          .attr("d", path);

        //this is where the update size code goes
        function updateSize(value) {
            // join new data with old elements
            var symbol = svg.selectAll(".symbol")
                  .data(samples.features);
            // UPDATE
            symbol.attr("d", path.pointRadius(function(d) { return radius(d.properties[value]*scale); }))

          }
    </script>

</body>
</html>
