<!DOCTYPE html>
<meta charset="utf-8">
<style>

body {
  margin: 0;
}

path {
  fill: none;
  stroke: red;
  stroke-linejoin: round;
  stroke-width: 1.5px;
}


.country {
  fill: #ccc;
  stroke: #fff;
}

.symbol {
  fill: steelblue;
  fill-opacity: .8;
  stroke: #fff;
}

.graticule {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: .5px;
}

.graticule.outline {
  stroke: #333;
  stroke-opacity: 1;
  stroke-width: 1.5px;
}

.lines {
  fill: none;
  stroke: #333;
  stroke-opacity: 1;
  stroke-width: 1.5px;
}


</style>
<body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/d3.geo.tile.v0.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script>

var width = Math.max( {{ width }} , window.innerWidth),
    height = Math.max( {{ height }} , window.innerHeight),
    samples = {{geojson|string|safe}},
    geojson = {{map_data|string|safe}},
    countries = topojson.feature(geojson, geojson.objects.countries).features;

var tile = d3.geo.tile()
    .size([width, height]);

var projection = d3.geo.mercator()
    .scale((1 << 12) / 2 / Math.PI)
    .translate([width / 2, height / 2]);

{%- if center is not none -%}
	 var center = projection( {{ center }});
{% else %}
     var center = projection([-100, 40]);
{%- endif -%}


var path = d3.geo.path()
    .projection(projection);

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height)

var g = svg.append("g");
var vector  = svg.append("path");

var vector2 = g.selectAll("path")
    .data(countries.features)
	.attr("class", "country")
    .enter().append("path");


var zoom = d3.behavior.zoom()
    .scale(projection.scale() * 2 * Math.PI)
    .scaleExtent([1 << 11, 1 << 14])
    .translate([width - center[0], height - center[1]])
    .on("zoom", zoomed);

function zoomed() {

  projection
      .scale(zoom.scale() / 2 / Math.PI)
      .translate(zoom.translate());

  // vector2.remove() #probably not the best way to clear the feautures
   vector2.attr("d", path);
   vector.datum(samples).attr("d", path);
}


svg.call(zoom);
zoomed()



</script>