<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">

<head>
   <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
   <script> {{ d3js          |string|safe }} </script>
   <script> {{ d3_projection |string|safe }} </script>
   <script> {{ topojson      |string|safe }} </script>

    <style> {{ style }}    </style>
</head>
<body>
	
<h1> {{ title }}</h1>

<aside style="margin-top:80px;">
    <div><select> 
        {% for col in columns %}
            <option value="{{col}}">{{col}}</option>
        {% endfor%}
    </select></div>
</aside>

<div id="map"></div>

    <script>
    
    // Basic Map Settings and Data
    /////////////////////////////////////////////
         var width = {{ width }};
         var height = {{ height }};
		 var samples = {{geojson|string|safe}};
		 var geojson = {{map_data|string|safe}};
        {%- if lines_geojson -%}
            var lines = {{lines_geojson|string|safe}};
        {%- endif -%}
        var radius = d3.scale.sqrt()
            .domain([0, 1e{{scale_exp|string|safe}}])
            .range([0, 20]);

       // Projection-Related Settings
       /////////////////////////////////////////////
        var projection = d3.geo.{{projection|string|safe}}()
            .scale((1 << 10) / 2 / Math.PI)
            .translate([width / 2, height / 2]);

      	  {%- if center is not none -%}
      	  	 var center = projection( {{ center }});
      	  {% else %}
      	       var center = projection([ 0, 20]);
      	  {%- endif -%}

        var path = d3.geo.path()
            .projection(projection);

        var svg = d3.select("#map")
                      .append("svg")
                      .attr("width", width)
                      .attr("height", height);

    // Selection Shorthands
    var map       = svg.append("path").attr("class", "country");
    var points = svg.selectAll(".symbol")
	          .data(samples.features)
			  .enter().append("path")
	      		.attr("class", "symbol");

     map.datum( topojson.feature(geojson, geojson.objects.countries)).attr("d", path);
     points.data(samples.features)
	   .attr("class", "symbol")
	   .attr("d", path.pointRadius( function(d){return radius( 100 ) } ));

     // Update By-Column Code
     ///////////////////////////////////////////////////////////////////////////////////////
     d3.selectAll("select").on("change", function () {updateSize(this.value) });

	//this is where the update size code goes
	function updateSize(value) {
     points.data(samples.features)
	     .attr("class", "symbol")
	     .attr("d", path.pointRadius(function(d) { return radius( d.properties[value] ) }));
	 };
    </script>


</body>
</html>
